# Python cache
__pycache__/
*.pyc
.env
*.jpg
*.png
*.jpeg
*.gif
*.zip
*.db

# Virtual env (walau belum dipakai)
venv/
env/

# File konfigurasi (kalau pakai nanti)
.env

# File sementara hasil upload
static/uploads/

# File sistem OS
.DS_Store
Thumbs.db
